<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Serever running at <%= PORT %> </h1><br>
    <p><% if (login) { %>
        <%= name %>
        <% } else { %>
            <a href="/login">
                <button>Login</button>
            </a>
            <% } %>
      
    </p>
</body>
</html>



