<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div id="panel">
            <input id="name" type="text" placeholder="User name or Email ID" name="name">
            <input id="passwd" type="password" placeholder="Password" name="passwd">
            <button type="submit" value="submit">Login</button>
        </div>
    </form>
</body>
<style>
    form {
 padding: 2rem;
 background-color:#00ff00ba;
 border-radius: 5px;
 justify-items: center;
 
}
input {
  height:20px;
  width:20rem;
  background-color: green;
  border:0px;
  margin: 2px;
  border-radius:8px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgreen;
  opacity: .5; /* Firefox */
}
</style>
</html>