<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/animate.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login | Blog</title>
</head>
<body>
    <div id="heading">
        <h1 id="r">Login</h1><h1 class="sep">|</h1>
        <h6 id="l"><a href="/signup">Dont have <br> an account?</a></h6>
    </div>
    <div id="details">
        <form action="/login" method="post">
            <p id="msg"><%= errmsg %> </p>
            <input type="text" name="name" placeholder=" Name"><br>
            <input type="password" name="passwd" placeholder=" Password"><br>
            <button type="submit" id="btn" class="read-more publish-btn" >Login</button>
        </form>
            
    </div>
</body>
</html>
<style>
    #msg {
        margin: 0%;
        margin-top: 2%;
        text-align: center;
        color: red;
    }
    
    a {
    color: black;
    animation-name: reds;
    animation-direction: reverse;
    animation-duration: 2s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    animation-name: reds;
    animation-direction:normal;
    animation-duration: 2s;
    color: red;
}

    h1 {
        margin-top: 1%;
    }
    h6 {
        margin-top: 1.4%;
    }
    #heading {
        display: flex;
        justify-content: center;
    }
    #details {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    input {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sep{
        color: black;
    }

</style>
